// Variables
@import "variables";

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
}

* { box-sizing: border-box }

.container {
  background-image: url('../images/page-background.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
}

/* HEADER */

@keyframes move-down-absolute {
  0% {
    top: -100%
  }
  100% {
    top: 0;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  top: -100%;
  animation: move-down-absolute 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  &.is-waiting {
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 0.6s;
    transition-property: transform, opacity, margin;
  }
  &.is-sticky {
    position: fixed;
    top: 1rem !important;
    left: 1rem;
    width: calc(100% - 2rem);
    background-color: #fafafa;
    filter: drop-shadow(0 0.125rem 1.4375rem rgba(0,0,0,.08));
    border-radius: 9rem;
    padding: 1rem;
    opacity: 0;
    transform: translateY(-100%);
    .logo-container {
      display: block;
    }
    .navigation-container {
      margin-left: 1rem;
      .navigation-hamburger-icon {
        span {
          background: #15151f;
        }
      }
    }
    .cart-container {
      margin-right: 1rem;
      .cart-icon-container > i {
        color: #15151f;
      }
    }
  }
  &.is-visible {
    transform: translateY(0);
    opacity: 1;
  }

  .navigation-container {
    .navigation-hamburger-icon {
      span {
        display: block;
        width: 1.5rem;
        height: 0.1rem;
        margin-bottom: 0.3rem;
        background: #fafafa;
        border-radius: 1rem;
      }
    }
    .navigation-menu-container {
      display: none;
    }
  }

  .logo-container {
    display: none;
    a {
      img {
        height: 100%;
        width: 3.5rem;
      }
    }
  }

  .cart-container {
    .cart-icon-container > i {
      font-size: 1.2rem;
      color: #fafafa;
    }
    .cart-dialog-container {
      display: none;
    }
  }
}

/* END HEADER */

main {
  position: relative;
  overflow: hidden;
}

/* HERO SECTION */

.hero-section {
  a {
    .hero-image {
      img {
        width: 100%;
      }
    }
  }
}

/* END HERO SECTION */


/* FEATURED MEDIA SECTION */

.featured-media-section {
  .featured-media-carousel {
    .featured-media-pagination {
      display: flex;
      justify-content: flex-end;
      gap: 0.1rem;
      .featured-media-pagination-button {
        border: none;
        background: transparent;
        position: relative;
        padding-top: 1rem;
        .featured-media-pagination-background {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          img {
            width: 4rem;
          }
        }
        .featured-media-pagination-image-container {
          img {
            padding: 0.25rem;
            width: 4rem;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .featured-media-container {
    .featured-media-inner-container {
      .featured-media-image-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

/* END FEATURED MEDIA SECTION */